@'
.venv/
**/.venv/

__pycache__/
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.pyc

dados/*.db
dados/*.db-shm
dados/*.db-wal
dados/*.sqlite

outputs/*
saídas/*
!outputs/.gitkeep
!saídas/.gitkeep

.env
.DS_Store
'@ | Set-Content -Encoding UTF8 .gitignore